@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #e6ffff;
}

#title-con {
   text-align: center;

}

h1 {
    font-family: monospace;
}
.description-text-center {
    font-family: 'Poppins' , sans-serif;
}

.form-group {
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #a5a0a0;
    height: auto;
    width: 400px;
    margin: 0 auto 20px auto;
    font-family: 'Poppins', sans-serif;
   
}